
<!DOCTYPE html>
<html lang="fr">
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- sources : 
    http://www.w3schools.com/tags/att_meta_http_equiv.asp 
    http://codesupport.info/6-important-features-as-how-to-do-it-using-meta-tags/
    -->
<!--
<meta http-equiv="refresh" content="30">
<meta http-equiv="Cache-Control" content="no-store">
-->
<meta charset="utf-8">
<title>Commande Nousrire</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<!--
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="infos.css">
<link rel="stylesheet" href="dynamicdrive3col.css">
-->

<meta content="Hugo Carnide" name="author">

{# source https://www.htmllion.com/css3-toggle-switch-button.html #}
<style>
    .switch {
      position: relative;
      display: block;
      vertical-align: top;
      width: 100px;
      height: 30px;
      padding: 3px;
      margin: 0 10px 10px 0;
      background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
      background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
      border-radius: 18px;
      box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
      cursor: pointer;
    }
    .switch-input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    .switch-label {
      position: relative;
      display: block;
      height: inherit;
      font-size: 10px;
      background: #eceeef;
      border-radius: inherit;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    }
    .switch-label:before, .switch-label:after {
      position: absolute;
      top: 50%;
      margin-top: -.5em;
      line-height: 1;
      -webkit-transition: inherit;
      -moz-transition: inherit;
      -o-transition: inherit;
      transition: inherit;
    }
    .switch-label:before {
      content: attr(data-off);
      right: 11px;
      color: #aaaaaa;
      text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    }
    .switch-label:after {
      content: attr(data-on);
      left: 11px;
      color: #FFFFFF;
      text-shadow: 0 1px rgba(0, 0, 0, 0.2);
      opacity: 0;
    }
    .switch-input:checked ~ .switch-label {
   	  background: #E1B42B;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
    }
    .switch-input:checked ~ .switch-label:before {
      opacity: 0;
    }
    .switch-input:checked ~ .switch-label:after {
      opacity: 1;
    }
    .switch-input:checked ~ .switch-handle {
      left: 74px;
      box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    /* Switch Slide
    ==========================*/
    .switch-slide {
    	padding: 0;
    	margin: 15px 0 0;
    	background: #FFF;
    	border-radius: 0;
    	background-image: none;
    }
    .switch-slide .switch-label {
    	box-shadow: none;
    	background: none;
    	overflow: hidden;
    }
    .switch-slide .switch-label:after, .switch-slide .switch-label:before {
    	width: 100%;
    	height: 65%;
    	top: 5px;
    	left: 0;
    	text-align: center;
    	padding-top: 10%;
    	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
    }
    .switch-slide .switch-label:after {
    	color: #FFFFFF;
    	background: #87CE00;
    	left: -100px;
    }
    .switch-slide .switch-label:before {
    	background: #eceeef;
    }
    .switch-slide .switch-handle {
    	display: none;
    }
    .switch-slide .switch-input:checked ~ .switch-label {
    	background: #FFF;
    	border-color: #0088cc;
    }
    .switch-slide .switch-input:checked ~ .switch-label:before {
    	left: 100px;
    }
    .switch-slide .switch-input:checked ~ .switch-label:after {
    	left: 0;
    }
    </style>

</head>
<body>

	<header>
		<h1>
			Commande
		</h1>
	</header>

<big>{{data.INFO}}</big>

{% set my_counter = 0 %}
<form>
	<table border=1 id="t1" style="width: 100%;">
		<thead>
		<tr>
			<td>Section</td>
			<td>Produits</td>
		</tr>
		</thead>
	{% for table, articles in data.CMD|dictsort %}
		{% set my_counter = loop.index %}
		<tr>
			<td>
                <label class="switch switch-slide">
                	<input class="switch-input" type="checkbox" name="check{{my_counter}}" onclick="showMe('check{{my_counter}}', 'div{{my_counter}}')" unchecked >
                	<span class="switch-label" data-on="{{table | e}}" data-off="{{table | e}}"></span> 
                	<span class="switch-handle"></span>
                </label>
			</td>
			<td>
			{% for one_article in articles %}
				<div id="div{{my_counter}}" style="display:block" class="div{{my_counter}}">
				{% for title, article_detail in one_article.items() %}
					{{title|e}}</br>
					{% for contenant, nombre in article_detail.items() %}
					<span style="padding-left:2em">{{contenant}} : {{nombre}} </span><br>
					{% endfor %}
				{% endfor %}
				</div>
			{% endfor %}
			</td>
		</tr>
	{% endfor %}
	</table>
</form>

<big>Liste contenant:</big></br>
	<table border=1 id="tcontenant" style="width: 100%;">
		<thead>
		<tr>
			<td>Contenant</td>
			<td>Quantite</td>
		</tr>
		</thead>
	{% for contenant, number in data.CONTENANTS|dictsort %}
		<tr>
			<td>{{contenant | e}}
			</td>
			<td>{{number | e}}
			</td>
		</tr>
	{% endfor %}
	</table>
</br>

<big>Commande:</big></br>
</br>
	<table border=1 id="tcmd" style="width: 100%;">
		<thead>
		<tr>
			<td>Produit</td>
			<td>Quantite</td>
		</tr>
		</thead>
	{% for contenant, number in data.COMMAND_DETAIL|dictsort %}
		<tr>
			<td>{{contenant | e}}
			</td>
			<td>{{number | e}}
			</td>
		</tr>
	{% endfor %}
	</table>


</body>
<footer> </footer>
</html>


<script>
    function showMe (check, div) {
		// Read checkbox status in order to manage the visibility
        var chboxs = document.getElementsByName(check);
        var vis = "none";
		for (var chbox of chboxs) {
            if(! chbox.checked){
             vis = "block";
                break;
            }
            if(chbox.checked){
             vis = "none";
                break;
            }
        }

		// Manage any component visibility with same class
		var listDivs = document.querySelectorAll("#"+div);
		//console.log(listDivs);
		for (var div of listDivs) {
			div.style.display = vis;
		}
    }
</script>
